<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SRNicoNico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SRNicoNico.Properties.Settings>
      <setting name="Volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CommentVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsRepeat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoInfoPlacement" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="EnableTwitterLink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableUrlLink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UserSelectedFont" serializeAs="String">
        <value>Yu Gothic UI</value>
      </setting>
      <setting name="SplitterHeight" serializeAs="String">
        <value>115*</value>
      </setting>
    </SRNicoNico.Properties.Settings>
  </userSettings>
</configuration>